@import '../../../../../styles/_variables.scss';

.dotList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
}

.dotList li {
  margin: 0.1rem auto;
}

.dotListRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
  list-style: none;
  min-width: 55px;
  cursor: url('/assets/cursor.svg') 25 15, auto;
}

.listWrapper {
  padding: 0 20px 0 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  bottom: 0;
  padding-bottom: 1rem;
}

.divisor,
.divisorLine {
  display: block !important;
}

.dotListRow li button {
  color: transparent;
  cursor: url('/assets/cursor.svg') 25 15, auto;
  width: 20px;
  height: 20px;
}

.dotListRow li {
  position: relative;
  margin: 0 0.65rem;
}

.dotListRow li button:before {
  content: '';
  position: absolute;
  height: 6px;
  width: 6px;
  background: #000;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.dotListRow li:last-child button {
  color: transparent;
  width: 0;
}

.dotListRow li button:active,
.dotListRow li button:focus,
.dotList li button:active,
.dotList li button:focus {
  outline: none;
}

.dotListRow :global(.slick-active) button:before {
  background: #e0d5d5;
}
