// Color Pallete
$neutralColor: #fff;
$primaryColor: #091601;
$secondaryColor: #586638;
$p2Color: #a08f87;
$p3Color: #e0d5d5;
$p4Color: #f7ca67;

// Borders
$borderSolidOutline: 1px solid $primaryColor;
