@import '../../styles/_variables.scss';

.navButton {
  padding-bottom: 0.3125rem;
  padding-top: 0.625rem;
}

.navList {
  margin-bottom: 0;
  list-style: none;
}

.navItem {
}

.navLink {
  display: block;
  padding: 0.5rem 1rem;
}

.navbarBrand {
  color: $primaryColor;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.625rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  text-decoration: none;
  text-align: left;
  width: 100%;
}

.navIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerBorder {
  border-bottom: 1px solid $primaryColor;
}

.flexColumn {
  display: flex;
  flex-flow: column wrap !important;
  height: 100vh;
  justify-content: space-between;
}

.navList {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0;
  text-align: center;
}

.navLink {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

@media (max-width: 639px) {
  .flexColumn {
    height: auto;
    flex-flow: row !important;
  }

  .flexColumn :global(.cell) {
    width: auto;
  }
}
